/* todos os <p> com fonte Arial padrãozona */
p {
    font-family: Arial, sans-serif;
}

/*título principal azul */
h1 {
    color: blue;
}

/*destacar com fundo amarelo a classe .destaque */
.destaque {
    background-color: yellow;
}

/* Deixa apenas o Item 2 vermelho! */
li:nth-child(2) {
    color: red;
}

/* Mudar cor do hover */
button:hover {
    background-color: lightgray;
}

input[type="password"]{
    border: 2px solid blue;
}


.container > div:first-child > p {
    color: green;
}

p::first-letter {
    font-size: 200%;
}

li:first-child {
    font-weight: bold;
}